<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('bootstrap-3.3.7/dist/css/bootstrap.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<body>
<div class="col-lg-offset-1 col-lg-10 col-lg-offset-1">
    {% set currentRoute = app.request.attributes.get('_route') %}
    {{ include("_nav.html.twig") }}

    <div>
        {{ include('_flash.html.twig') }}
    </div>

    {% block body %}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bootstrap-3.3.7/dist/js/jquery-3.2.1.js') }}"></script>
        <script src="{{ asset('bootstrap-3.3.7/dist/js/bootstrap.js') }}"></script>
    {% endblock %}
</div>
</body>
</html>
